#body {
    background-color: rgb(255, 251, 247);
    display: flex;
    flex-direction: column;
}

#links, .button {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    
}

span {
    color: rgb(15, 190, 15);
}

.button {
    border: none;
    align-self: center;
    padding: 8px;
}

#links a:visited {
    padding-top: 2%;
    color: rgb(15, 190, 15);
}

.button:hover {
    background-color: rgb(5, 85, 12);
}

.header {
color: rgb(26, 29, 26);
font-family: 'Share Tech Mono', monospace;
font-size: 70px;
font-weight: 700;
display: flex;
justify-content: center;
margin: auto;
padding: 10px;

}

.text {
    color: rgb(26, 26, 26);
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.logo {
    display: flex;
    justify-content: center;   
    margin: 20px; 
}